<html lang="en" >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
</head>


<body ng-app="BlankApp" ng-cloak>
  <div ng-controller="SelectOptGroupController" class="md-padding" ng-cloak>
  <div>
    <h1 class="md-title">Choose your day and time</h1>
    <div layout="row">
      
      <md-input-container style="margin-right: 10px;">
        <label>HH</label>
        <md-select ng-model="hour">
          <md-option ng-repeat="hour in hours" value="{{hour}}">{{hour}}</md-option>
        </md-select>
        <p>{{hour}}</p>
        </md-input-container>

        <md-input-container style="margin-right: 10px;">
        <label>MM</label>
        <md-select ng-model="min">
          <md-option ng-repeat="min in mins" value="{{min}}">{{min}}</md-option>
        </md-select>
        <p>{{min}}</p>
        </md-input-container>

        <md-input-container style="margin-right: 10px;">
        <label>SS</label>
        <md-select ng-model="sec">
          <md-option ng-repeat="sec in secs" value="{{sec}}">{{sec}}</md-option>
        </md-select>
        <p>{{sec}}</p>
      </md-input-container>

      <md-input-container>
        <label>Mode</label>
        <md-select ng-model="mode">
          <md-option ng-repeat="mode in modes" value="{{mode}}">{{mode}}</md-option>
        </md-select>
        <p>{{mode}}</p>
      </md-input-container>      
      
      <md-input-container>
        <label>Day</label>
        <md-select ng-model="selectedDays" multiple>
            <md-option ng-value="day.name" ng-repeat="day in days">{{day.name}}</md-option>
          </md-optgroup>
        </md-select>
        <p>{{selectedDays.slice(0, selectedDays.length).join(', ')}}</p>
      </md-input-container>
    </div>
    <button ng-click="sendData()">Set</button>
  </div>
</div>

  <!-- Angularjs dependencies -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
  
  <!-- Your application bootstrap  -->
  <script type="text/javascript">    
    /**
     * You must include the dependency on 'ngMaterial' 
     */
    var app = angular.module('BlankApp', ['ngMaterial']);
    app.controller('SelectOptGroupController', function($scope,$http) {
      $scope.hours = ['01','02','03','04','05','06','07','08','09','10','11','12'];
      $scope.mins = [];
      $scope.secs = [];

      /*for (var i = 1; i < 12; i++) {
        $scope.hours.push(i);
      }*/
      for (var i = 00; i < 61; i++) {
        if(i<10){
          $scope.mins.push('0'+i);
          $scope.secs.push('0'+i);
        }else{
          $scope.mins.push(i);
          $scope.secs.push(i);
        }
          
      }
      $scope.modes = ['AM','PM'] ;
      
      $scope.days = [
        {  name: 'Sunday' },
        {  name: 'Monday' },
        {  name: 'Tuseday' },
        {  name: 'Wensday' },
        {  name: 'Thursday' },
        {  name: 'saturday' }
      ];
      $scope.selectedDays = [];
      for (var i = 0; i < $scope.selectedDays.length; i++) {
        $scope.selectedDays.push(this.selectedDays[this.selectedDays.length-1]);
      }
      $scope.sendData = function(){

          var data = { hh:$scope.hour, mm:$scope.min, ss:$scope.sec, mode:$scope.mode, day:$scope.selectedDays};

          $http.post('/',data).success(function(data,status,headers,config){
            $scope.setAlarm = data;
          }).error(function(data,status,headers,config){
            $scope.setAlarm = "Error Data: "+ status;
          });
        };
    });    
  

  </script>
  
</body>
</html>

